<?xml version="1.0" standalone='no'?>
 <!DOCTYPE service-group SYSTEM "avahi-service.dtd">
 <service-group>
   <name replace-wildcards="yes">%h.local</name>  
   <service>
     <type>_kodimediaclient._tcp</type>
     <port>11001</port>
     <txt-record>Kodi=true</txt-record>
   </service>

 </service-group>

